* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.result-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    background-image: linear-gradient(#6743ff, #312cea);
    color: #cdcdff;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

.result-card * {
    margin: 0 1rem;
}

.result-card h1 {
    font-size: 1rem;
    margin-top: 1.5rem;
}

#score {
    border-radius: 100%;
    background-image: linear-gradient(#4d22c9,#4734f0);
    padding: 1.5rem;
}

#score h2 {
    color: #ffffff;
    font-size: 3rem;
}

#score p {
    color: #bfb8ff;
}

.result-card h3 {
    color: #ffffff;
    font-size: 1.5rem;
}

#percentile-text {
    margin: 0 4rem 1rem 4rem;
}

.summary-card {
    margin: 1rem 2rem;
}

.summary-card h1 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.section-score {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff6f5;
    margin: .75rem 0rem;
    padding: 1rem;
    border-radius: 12px;
}

.section-score p{
    color: #aba6af;
}

.section-score p strong{
    color: black;
}

.section-title {
    display: flex;
    gap: .5rem;
}

.section-title h2 {
    font-size: 1rem;
}

#reaction .section-title h2 {
    color: #eb727e;
}
#memory {
    background-color: #fffbf2;
}
#memory .section-title h2 {
    color: #e4b95b;
}

#verbal {
    background-color: #f2fbfa;
}
#verbal .section-title h2 {
    color: #41d6af;
}
#visual {
    background-color: #f3f3fd;
}
#visual .section-title h2 {
    color: #5056d6;
}

#btn-continue {
    width: 100%;
    padding: 1rem;
    background-color: #303b59;
    color: white;
    border: 0;
    border-radius: 32px;
    font-size: 1rem;
    font-weight: bold;
    margin-top: .25rem;
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%);
}

@media (min-width: 380px) {
    .summary-card {
        margin: 1.5rem 2rem;
    }
    .result-card {
        gap: 1.5rem;
    }
    #percentile-text {
        margin: 0 4rem 2rem 4rem;
    }
    .section-score {
        margin: 1.5rem 0rem;
    }
    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}

@media (min-width: 1024px) {
    body {
        display: flex;
        justify-content: center;
    }
    .card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: absolute;
        transform: translate(0, 50%);
        width: clamp(650px, 60%, 700px);
        background-color: white;
        border-top-left-radius: 24px;
        border-bottom-left-radius: 24px;
        border-top-right-radius: 24px;
        border-bottom-right-radius: 24px;
        box-shadow: 5px 5px 10px #dfe2f1;
    }
    .result-card {
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
        background-color: #ffffff;
        justify-content: flex-start;
        gap: 2rem;
    }
    .result-card h1 {
        font-size: 1.25rem;
    }
    #percentile-text {
        margin: -1rem 3rem 2rem 4rem;
    }
    #score {
        padding: 3rem;
    }
    #score h2 {
        font-size: 4rem;
    }
    .summary-card {
        margin: 0;
        padding: 0 2rem 2rem 2rem;
        z-index: -1;
    }
    .summary-card h1 {
        margin-top: 1.5rem;
    }
    .section-score {
        margin: 1rem 0;
    }
    #btn-continue {
        margin-top: 1rem;
    }
    #btn-continue:hover {
        background-image: linear-gradient(#4d22c9,#4734f0);
        cursor: pointer;
    }
}